<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />


<title>Instance Detail</title>
</head>
<body>
		<table>
		<tr><td th:text="${e.id}"></td></tr>
		<tr><td th:text="${e.firstname}"></td></tr>
		<tr><td th:text="${e.lastname}"></td></tr>
		</table>
</body>
</html>